
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

h1 {
    text-transform: uppercase;
}

button {
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 5px;
    background-color: blueviolet;
}

#update-user {
    display: flex;
    flex-direction: column;
}

#change-container {
    display: flex;
    flex-direction: row;
}


#old {
    display: flex;
    flex-direction: column;
}

#new {
    display: flex;
    flex-direction: column;
}

#update-user button {
    width: 50%;
    margin: 10px auto;
}